body
	margin 0
	background #ddd

*
	font-family sans-serif
	box-sizing border-box

button
	@apply bg-blue-500 transition text-white
	@apply text-base p-2 px-4 rounded-2 border-none
	&:hover
		@apply bg-blue-700

h1
h2
h3
h4
h5
h6
	margin 0
